[_(DustClouds) Weather multipliers]

## Multiply Scrap value for DustClouds
# Setting type: Single
# Default value: 1.1
Value Multiplier = 1.1

## Multiply Scrap amount for DustClouds
# Setting type: Single
# Default value: 1.05
Amount Multiplier = 1.05

## Multiply Factory size for DustClouds
# Setting type: Single
# Default value: 1
Factory Size Multiplier = 1

[_(Eclipsed) Weather multipliers]

## Multiply Scrap value for Eclipsed
# Setting type: Single
# Default value: 1.5
Value Multiplier = 1.5

## Multiply Scrap amount for Eclipsed
# Setting type: Single
# Default value: 1.25
Amount Multiplier = 1.25

## Multiply Factory size for Eclipsed
# Setting type: Single
# Default value: 1
Factory Size Multiplier = 1

[_(Flooded) Weather multipliers]

## Multiply Scrap value for Flooded
# Setting type: Single
# Default value: 1.3
Value Multiplier = 1.3

## Multiply Scrap amount for Flooded
# Setting type: Single
# Default value: 1.15
Amount Multiplier = 1.15

## Multiply Factory size for Flooded
# Setting type: Single
# Default value: 1
Factory Size Multiplier = 1

[_(Foggy) Weather multipliers]

## Multiply Scrap value for Foggy
# Setting type: Single
# Default value: 1.2
Value Multiplier = 1.2

## Multiply Scrap amount for Foggy
# Setting type: Single
# Default value: 1.1
Amount Multiplier = 1.1

## Multiply Factory size for Foggy
# Setting type: Single
# Default value: 1
Factory Size Multiplier = 1

[_(None) Weather multipliers]

## Multiply Scrap value for None
# Setting type: Single
# Default value: 1
Value Multiplier = 1

## Multiply Scrap amount for None
# Setting type: Single
# Default value: 1
Amount Multiplier = 1

## Multiply Factory size for None
# Setting type: Single
# Default value: 1
Factory Size Multiplier = 1

[_(Rainy) Weather multipliers]

## Multiply Scrap value for Rainy
# Setting type: Single
# Default value: 1.1
Value Multiplier = 1.1

## Multiply Scrap amount for Rainy
# Setting type: Single
# Default value: 1.05
Amount Multiplier = 1.05

## Multiply Factory size for Rainy
# Setting type: Single
# Default value: 1
Factory Size Multiplier = 1

[_(Stormy) Weather multipliers]

## Multiply Scrap value for Stormy
# Setting type: Single
# Default value: 1.4
Value Multiplier = 1.4

## Multiply Scrap amount for Stormy
# Setting type: Single
# Default value: 1.2
Amount Multiplier = 1.2

## Multiply Factory size for Stormy
# Setting type: Single
# Default value: 1
Factory Size Multiplier = 1

[_Weather Random Multipliers]

## Lower bound of random value
# Setting type: Single
# Default value: 0.9
Min Inclusive = 0.9

## Upper bound of random value
# Setting type: Single
# Default value: 1.2
Max Inclusive = 1.2

[_Weather Settings]

## 'false'= Disable all weather multipliers     'true'= Enable weather multipliers
# Setting type: Boolean
# Default value: true
Enable weather multipliers? = true

## 'false'= disable     'true'= enable
# Setting type: Boolean
# Default value: false
Weather multiplier randomness? = false

# Setting type: Boolean
# Default value: true
Enable terminal text? = true

