[_Inside Enemies]

# Setting type: Int32
# Default value: 0
Knight = 0

# Setting type: Int32
# Default value: 6
SpringMan = 6

# Setting type: Int32
# Default value: 0
SandWorm = 0

# Setting type: Int32
# Default value: 0
SandSpider = 0

# Setting type: Int32
# Default value: 66
Puffer = 66

# Setting type: Int32
# Default value: 0
Nutcracker = 0

# Setting type: Int32
# Default value: 0
MouthDog = 0

# Setting type: Int32
# Default value: 28
MaskedPlayerEnemy = 28

# Setting type: Int32
# Default value: 0
LassoMan = 0

# Setting type: Int32
# Default value: 24
Jester = 24

# Setting type: Int32
# Default value: 57
HoarderBug = 57

# Setting type: Int32
# Default value: 0
ForestGiant = 0

# Setting type: Int32
# Default value: 21
Flowerman = 21

# Setting type: Int32
# Default value: 10
DressGirl = 10

# Setting type: Int32
# Default value: 0
RedLocustBees = 0

# Setting type: Int32
# Default value: 0
Doublewing = 0

# Setting type: Int32
# Default value: 0
DocileLocustBees = 0

# Setting type: Int32
# Default value: 48
Crawler = 48

# Setting type: Int32
# Default value: 0
Centipede = 0

# Setting type: Int32
# Default value: 0
Blob = 0

# Setting type: Int32
# Default value: 0
BaboonHawk = 0

# Setting type: Int32
# Default value: 0
PeeperType = 0

# Setting type: Int32
# Default value: 15
ShrimpEnemy = 15

# Setting type: Int32
# Default value: 0
RollingGiant_EnemyType_Outside_Daytime = 0

# Setting type: Int32
# Default value: 30
RollingGiant_EnemyType = 30

# Setting type: Int32
# Default value: 0
RollingGiant_EnemyType_Outside = 0

# Setting type: Int32
# Default value: 0
HarpGhost = 0

# Setting type: Int32
# Default value: 55
Herobrine = 55

# Setting type: Int32
# Default value: 75
ImmortalSnail.EnemyType = 75

# Setting type: Int32
# Default value: 0
AntiCoilHead = 0

# Setting type: Int32
# Default value: 0
NutSlayer = 0

# Setting type: Int32
# Default value: 0
WalkerType = 0

[_Outside Enemies]

# Setting type: Int32
# Default value: 0
Knight = 0

# Setting type: Int32
# Default value: 0
SpringMan = 0

# Setting type: Int32
# Default value: 0
SandWorm = 0

# Setting type: Int32
# Default value: 0
SandSpider = 0

# Setting type: Int32
# Default value: 74
Puffer = 74

# Setting type: Int32
# Default value: 0
Nutcracker = 0

# Setting type: Int32
# Default value: 0
MouthDog = 0

# Setting type: Int32
# Default value: 0
MaskedPlayerEnemy = 0

# Setting type: Int32
# Default value: 0
LassoMan = 0

# Setting type: Int32
# Default value: 0
Jester = 0

# Setting type: Int32
# Default value: 0
HoarderBug = 0

# Setting type: Int32
# Default value: 46
ForestGiant = 46

# Setting type: Int32
# Default value: 0
Flowerman = 0

# Setting type: Int32
# Default value: 0
DressGirl = 0

# Setting type: Int32
# Default value: 0
RedLocustBees = 0

# Setting type: Int32
# Default value: 0
Doublewing = 0

# Setting type: Int32
# Default value: 0
DocileLocustBees = 0

# Setting type: Int32
# Default value: 0
Crawler = 0

# Setting type: Int32
# Default value: 0
Centipede = 0

# Setting type: Int32
# Default value: 0
Blob = 0

# Setting type: Int32
# Default value: 29
BaboonHawk = 29

# Setting type: Int32
# Default value: 0
PeeperType = 0

# Setting type: Int32
# Default value: 0
ShrimpEnemy = 0

# Setting type: Int32
# Default value: 0
RollingGiant_EnemyType_Outside_Daytime = 0

# Setting type: Int32
# Default value: 0
RollingGiant_EnemyType = 0

# Setting type: Int32
# Default value: 0
RollingGiant_EnemyType_Outside = 0

# Setting type: Int32
# Default value: 0
HarpGhost = 0

# Setting type: Int32
# Default value: 0
Herobrine = 0

# Setting type: Int32
# Default value: 0
ImmortalSnail.EnemyType = 0

# Setting type: Int32
# Default value: 0
AntiCoilHead = 0

# Setting type: Int32
# Default value: 0
NutSlayer = 0

# Setting type: Int32
# Default value: 0
WalkerType = 0

[Daytime Enemies]

# Setting type: Int32
# Default value: 0
Knight = 0

# Setting type: Int32
# Default value: 0
SpringMan = 0

# Setting type: Int32
# Default value: 0
SandWorm = 0

# Setting type: Int32
# Default value: 0
SandSpider = 0

# Setting type: Int32
# Default value: 0
Puffer = 0

# Setting type: Int32
# Default value: 0
Nutcracker = 0

# Setting type: Int32
# Default value: 0
MouthDog = 0

# Setting type: Int32
# Default value: 0
MaskedPlayerEnemy = 0

# Setting type: Int32
# Default value: 0
LassoMan = 0

# Setting type: Int32
# Default value: 0
Jester = 0

# Setting type: Int32
# Default value: 0
HoarderBug = 0

# Setting type: Int32
# Default value: 0
ForestGiant = 0

# Setting type: Int32
# Default value: 0
Flowerman = 0

# Setting type: Int32
# Default value: 0
DressGirl = 0

# Setting type: Int32
# Default value: 6
RedLocustBees = 6

# Setting type: Int32
# Default value: 41
Doublewing = 41

# Setting type: Int32
# Default value: 94
DocileLocustBees = 94

# Setting type: Int32
# Default value: 0
Crawler = 0

# Setting type: Int32
# Default value: 0
Centipede = 0

# Setting type: Int32
# Default value: 0
Blob = 0

# Setting type: Int32
# Default value: 0
BaboonHawk = 0

# Setting type: Int32
# Default value: 0
PeeperType = 0

# Setting type: Int32
# Default value: 0
ShrimpEnemy = 0

# Setting type: Int32
# Default value: 0
RollingGiant_EnemyType_Outside_Daytime = 0

# Setting type: Int32
# Default value: 0
RollingGiant_EnemyType = 0

# Setting type: Int32
# Default value: 0
RollingGiant_EnemyType_Outside = 0

# Setting type: Int32
# Default value: 0
HarpGhost = 0

# Setting type: Int32
# Default value: 0
Herobrine = 0

# Setting type: Int32
# Default value: 0
ImmortalSnail.EnemyType = 0

# Setting type: Int32
# Default value: 0
AntiCoilHead = 0

# Setting type: Int32
# Default value: 0
NutSlayer = 0

# Setting type: Int32
# Default value: 0
WalkerType = 0

