[_Inside Enemies]

# Setting type: Int32
# Default value: 0
Knight = 0

# Setting type: Int32
# Default value: 0
SpringMan = 0

# Setting type: Int32
# Default value: 0
SandWorm = 0

# Setting type: Int32
# Default value: 69
SandSpider = 69

# Setting type: Int32
# Default value: 14
Puffer = 14

# Setting type: Int32
# Default value: 1
Nutcracker = 1

# Setting type: Int32
# Default value: 0
MouthDog = 0

# Setting type: Int32
# Default value: 0
MaskedPlayerEnemy = 0

# Setting type: Int32
# Default value: 0
LassoMan = 0

# Setting type: Int32
# Default value: 0
Jester = 0

# Setting type: Int32
# Default value: 78
HoarderBug = 78

# Setting type: Int32
# Default value: 0
ForestGiant = 0

# Setting type: Int32
# Default value: 14
Flowerman = 14

# Setting type: Int32
# Default value: 1
DressGirl = 1

# Setting type: Int32
# Default value: 0
RedLocustBees = 0

# Setting type: Int32
# Default value: 0
Doublewing = 0

# Setting type: Int32
# Default value: 0
DocileLocustBees = 0

# Setting type: Int32
# Default value: 24
Crawler = 24

# Setting type: Int32
# Default value: 93
Centipede = 93

# Setting type: Int32
# Default value: 28
Blob = 28

# Setting type: Int32
# Default value: 0
BaboonHawk = 0

# Setting type: Int32
# Default value: 0
PeeperType = 0

# Setting type: Int32
# Default value: 15
ShrimpEnemy = 15

# Setting type: Int32
# Default value: 0
RollingGiant_EnemyType_Outside_Daytime = 0

# Setting type: Int32
# Default value: 30
RollingGiant_EnemyType = 30

# Setting type: Int32
# Default value: 0
RollingGiant_EnemyType_Outside = 0

# Setting type: Int32
# Default value: 0
HarpGhost = 0

# Setting type: Int32
# Default value: 5
Herobrine = 5

# Setting type: Int32
# Default value: 75
ImmortalSnail.EnemyType = 75

# Setting type: Int32
# Default value: 0
AntiCoilHead = 0

# Setting type: Int32
# Default value: 0
NutSlayer = 0

# Setting type: Int32
# Default value: 10
WalkerType = 10

[_Outside Enemies]

# Setting type: Int32
# Default value: 0
Knight = 0

# Setting type: Int32
# Default value: 0
SpringMan = 0

# Setting type: Int32
# Default value: 95
SandWorm = 95

# Setting type: Int32
# Default value: 0
SandSpider = 0

# Setting type: Int32
# Default value: 0
Puffer = 0

# Setting type: Int32
# Default value: 0
Nutcracker = 0

# Setting type: Int32
# Default value: 78
MouthDog = 78

# Setting type: Int32
# Default value: 0
MaskedPlayerEnemy = 0

# Setting type: Int32
# Default value: 0
LassoMan = 0

# Setting type: Int32
# Default value: 0
Jester = 0

# Setting type: Int32
# Default value: 0
HoarderBug = 0

# Setting type: Int32
# Default value: 1
ForestGiant = 1

# Setting type: Int32
# Default value: 0
Flowerman = 0

# Setting type: Int32
# Default value: 0
DressGirl = 0

# Setting type: Int32
# Default value: 0
RedLocustBees = 0

# Setting type: Int32
# Default value: 0
Doublewing = 0

# Setting type: Int32
# Default value: 0
DocileLocustBees = 0

# Setting type: Int32
# Default value: 0
Crawler = 0

# Setting type: Int32
# Default value: 0
Centipede = 0

# Setting type: Int32
# Default value: 0
Blob = 0

# Setting type: Int32
# Default value: 20
BaboonHawk = 20

# Setting type: Int32
# Default value: 0
PeeperType = 0

# Setting type: Int32
# Default value: 0
ShrimpEnemy = 0

# Setting type: Int32
# Default value: 0
RollingGiant_EnemyType_Outside_Daytime = 0

# Setting type: Int32
# Default value: 0
RollingGiant_EnemyType = 0

# Setting type: Int32
# Default value: 0
RollingGiant_EnemyType_Outside = 0

# Setting type: Int32
# Default value: 0
HarpGhost = 0

# Setting type: Int32
# Default value: 0
Herobrine = 0

# Setting type: Int32
# Default value: 0
ImmortalSnail.EnemyType = 0

# Setting type: Int32
# Default value: 0
AntiCoilHead = 0

# Setting type: Int32
# Default value: 0
NutSlayer = 0

# Setting type: Int32
# Default value: 0
WalkerType = 0

[Daytime Enemies]

# Setting type: Int32
# Default value: 0
Knight = 0

# Setting type: Int32
# Default value: 0
SpringMan = 0

# Setting type: Int32
# Default value: 0
SandWorm = 0

# Setting type: Int32
# Default value: 0
SandSpider = 0

# Setting type: Int32
# Default value: 0
Puffer = 0

# Setting type: Int32
# Default value: 0
Nutcracker = 0

# Setting type: Int32
# Default value: 0
MouthDog = 0

# Setting type: Int32
# Default value: 0
MaskedPlayerEnemy = 0

# Setting type: Int32
# Default value: 0
LassoMan = 0

# Setting type: Int32
# Default value: 0
Jester = 0

# Setting type: Int32
# Default value: 0
HoarderBug = 0

# Setting type: Int32
# Default value: 0
ForestGiant = 0

# Setting type: Int32
# Default value: 0
Flowerman = 0

# Setting type: Int32
# Default value: 0
DressGirl = 0

# Setting type: Int32
# Default value: 43
RedLocustBees = 43

# Setting type: Int32
# Default value: 100
Doublewing = 100

# Setting type: Int32
# Default value: 58
DocileLocustBees = 58

# Setting type: Int32
# Default value: 0
Crawler = 0

# Setting type: Int32
# Default value: 0
Centipede = 0

# Setting type: Int32
# Default value: 0
Blob = 0

# Setting type: Int32
# Default value: 0
BaboonHawk = 0

# Setting type: Int32
# Default value: 0
PeeperType = 0

# Setting type: Int32
# Default value: 0
ShrimpEnemy = 0

# Setting type: Int32
# Default value: 0
RollingGiant_EnemyType_Outside_Daytime = 0

# Setting type: Int32
# Default value: 0
RollingGiant_EnemyType = 0

# Setting type: Int32
# Default value: 0
RollingGiant_EnemyType_Outside = 0

# Setting type: Int32
# Default value: 0
HarpGhost = 0

# Setting type: Int32
# Default value: 0
Herobrine = 0

# Setting type: Int32
# Default value: 0
ImmortalSnail.EnemyType = 0

# Setting type: Int32
# Default value: 0
AntiCoilHead = 0

# Setting type: Int32
# Default value: 0
NutSlayer = 0

# Setting type: Int32
# Default value: 0
WalkerType = 0

