[_Inside Enemies]

# Setting type: Int32
# Default value: 0
Knight = 0

# Setting type: Int32
# Default value: 8
SpringMan = 8

# Setting type: Int32
# Default value: 0
SandWorm = 0

# Setting type: Int32
# Default value: 44
SandSpider = 44

# Setting type: Int32
# Default value: 39
Puffer = 39

# Setting type: Int32
# Default value: 0
Nutcracker = 0

# Setting type: Int32
# Default value: 5
MouthDog = 5

# Setting type: Int32
# Default value: 0
MaskedPlayerEnemy = 0

# Setting type: Int32
# Default value: 0
LassoMan = 0

# Setting type: Int32
# Default value: 3
Jester = 3

# Setting type: Int32
# Default value: 44
HoarderBug = 44

# Setting type: Int32
# Default value: 0
ForestGiant = 0

# Setting type: Int32
# Default value: 16
Flowerman = 16

# Setting type: Int32
# Default value: 3
DressGirl = 3

# Setting type: Int32
# Default value: 0
RedLocustBees = 0

# Setting type: Int32
# Default value: 0
Doublewing = 0

# Setting type: Int32
# Default value: 0
DocileLocustBees = 0

# Setting type: Int32
# Default value: 0
Crawler = 0

# Setting type: Int32
# Default value: 44
Centipede = 44

# Setting type: Int32
# Default value: 0
Blob = 0

# Setting type: Int32
# Default value: 0
BaboonHawk = 0

# Setting type: Int32
# Default value: 0
PeeperType = 0

# Setting type: Int32
# Default value: 15
ShrimpEnemy = 15

# Setting type: Int32
# Default value: 0
RollingGiant_EnemyType_Outside_Daytime = 0

# Setting type: Int32
# Default value: 30
RollingGiant_EnemyType = 30

# Setting type: Int32
# Default value: 0
RollingGiant_EnemyType_Outside = 0

# Setting type: Int32
# Default value: 0
HarpGhost = 0

# Setting type: Int32
# Default value: 100
Herobrine = 100

# Setting type: Int32
# Default value: 75
ImmortalSnail.EnemyType = 75

# Setting type: Int32
# Default value: 0
AntiCoilHead = 0

# Setting type: Int32
# Default value: 0
NutSlayer = 0

# Setting type: Int32
# Default value: 0
WalkerType = 0

[_Outside Enemies]

# Setting type: Int32
# Default value: 0
Knight = 0

# Setting type: Int32
# Default value: 0
SpringMan = 0

# Setting type: Int32
# Default value: 0
SandWorm = 0

# Setting type: Int32
# Default value: 0
SandSpider = 0

# Setting type: Int32
# Default value: 0
Puffer = 0

# Setting type: Int32
# Default value: 0
Nutcracker = 0

# Setting type: Int32
# Default value: 0
MouthDog = 0

# Setting type: Int32
# Default value: 0
MaskedPlayerEnemy = 0

# Setting type: Int32
# Default value: 0
LassoMan = 0

# Setting type: Int32
# Default value: 1
Jester = 1

# Setting type: Int32
# Default value: 0
HoarderBug = 0

# Setting type: Int32
# Default value: 27
ForestGiant = 27

# Setting type: Int32
# Default value: 79
Flowerman = 79

# Setting type: Int32
# Default value: 0
DressGirl = 0

# Setting type: Int32
# Default value: 0
RedLocustBees = 0

# Setting type: Int32
# Default value: 0
Doublewing = 0

# Setting type: Int32
# Default value: 0
DocileLocustBees = 0

# Setting type: Int32
# Default value: 0
Crawler = 0

# Setting type: Int32
# Default value: 0
Centipede = 0

# Setting type: Int32
# Default value: 0
Blob = 0

# Setting type: Int32
# Default value: 0
BaboonHawk = 0

# Setting type: Int32
# Default value: 0
PeeperType = 0

# Setting type: Int32
# Default value: 0
ShrimpEnemy = 0

# Setting type: Int32
# Default value: 0
RollingGiant_EnemyType_Outside_Daytime = 0

# Setting type: Int32
# Default value: 0
RollingGiant_EnemyType = 0

# Setting type: Int32
# Default value: 0
RollingGiant_EnemyType_Outside = 0

# Setting type: Int32
# Default value: 0
HarpGhost = 0

# Setting type: Int32
# Default value: 0
Herobrine = 0

# Setting type: Int32
# Default value: 0
ImmortalSnail.EnemyType = 0

# Setting type: Int32
# Default value: 0
AntiCoilHead = 0

# Setting type: Int32
# Default value: 0
NutSlayer = 0

# Setting type: Int32
# Default value: 0
WalkerType = 0

[Daytime Enemies]

# Setting type: Int32
# Default value: 0
Knight = 0

# Setting type: Int32
# Default value: 0
SpringMan = 0

# Setting type: Int32
# Default value: 0
SandWorm = 0

# Setting type: Int32
# Default value: 0
SandSpider = 0

# Setting type: Int32
# Default value: 0
Puffer = 0

# Setting type: Int32
# Default value: 0
Nutcracker = 0

# Setting type: Int32
# Default value: 0
MouthDog = 0

# Setting type: Int32
# Default value: 0
MaskedPlayerEnemy = 0

# Setting type: Int32
# Default value: 0
LassoMan = 0

# Setting type: Int32
# Default value: 0
Jester = 0

# Setting type: Int32
# Default value: 0
HoarderBug = 0

# Setting type: Int32
# Default value: 0
ForestGiant = 0

# Setting type: Int32
# Default value: 100
Flowerman = 100

# Setting type: Int32
# Default value: 0
DressGirl = 0

# Setting type: Int32
# Default value: 0
RedLocustBees = 0

# Setting type: Int32
# Default value: 0
Doublewing = 0

# Setting type: Int32
# Default value: 70
DocileLocustBees = 70

# Setting type: Int32
# Default value: 0
Crawler = 0

# Setting type: Int32
# Default value: 0
Centipede = 0

# Setting type: Int32
# Default value: 0
Blob = 0

# Setting type: Int32
# Default value: 0
BaboonHawk = 0

# Setting type: Int32
# Default value: 0
PeeperType = 0

# Setting type: Int32
# Default value: 0
ShrimpEnemy = 0

# Setting type: Int32
# Default value: 0
RollingGiant_EnemyType_Outside_Daytime = 0

# Setting type: Int32
# Default value: 0
RollingGiant_EnemyType = 0

# Setting type: Int32
# Default value: 0
RollingGiant_EnemyType_Outside = 0

# Setting type: Int32
# Default value: 0
HarpGhost = 0

# Setting type: Int32
# Default value: 0
Herobrine = 0

# Setting type: Int32
# Default value: 0
ImmortalSnail.EnemyType = 0

# Setting type: Int32
# Default value: 0
AntiCoilHead = 0

# Setting type: Int32
# Default value: 0
NutSlayer = 0

# Setting type: Int32
# Default value: 0
WalkerType = 0

