[_Inside Enemies]

# Setting type: Int32
# Default value: 0
Knight = 0

# Setting type: Int32
# Default value: 53
SpringMan = 53

# Setting type: Int32
# Default value: 0
SandWorm = 0

# Setting type: Int32
# Default value: 64
SandSpider = 64

# Setting type: Int32
# Default value: 16
Puffer = 16

# Setting type: Int32
# Default value: 60
Nutcracker = 60

# Setting type: Int32
# Default value: 0
MouthDog = 0

# Setting type: Int32
# Default value: 0
MaskedPlayerEnemy = 0

# Setting type: Int32
# Default value: 0
LassoMan = 0

# Setting type: Int32
# Default value: 66
Jester = 66

# Setting type: Int32
# Default value: 48
HoarderBug = 48

# Setting type: Int32
# Default value: 0
ForestGiant = 0

# Setting type: Int32
# Default value: 25
Flowerman = 25

# Setting type: Int32
# Default value: 18
DressGirl = 18

# Setting type: Int32
# Default value: 0
RedLocustBees = 0

# Setting type: Int32
# Default value: 0
Doublewing = 0

# Setting type: Int32
# Default value: 0
DocileLocustBees = 0

# Setting type: Int32
# Default value: 48
Crawler = 48

# Setting type: Int32
# Default value: 52
Centipede = 52

# Setting type: Int32
# Default value: 39
Blob = 39

# Setting type: Int32
# Default value: 0
BaboonHawk = 0

# Setting type: Int32
# Default value: 0
PeeperType = 0

# Setting type: Int32
# Default value: 15
ShrimpEnemy = 5

# Setting type: Int32
# Default value: 0
RollingGiant_EnemyType_Outside_Daytime = 0

# Setting type: Int32
# Default value: 50
RollingGiant_EnemyType = 65

# Setting type: Int32
# Default value: 0
RollingGiant_EnemyType_Outside = 0

# Setting type: Int32
# Default value: 55
Herobrine = 55

# Setting type: Int32
# Default value: 100
ImmortalSnail.EnemyType = 100

# Setting type: Int32
# Default value: 0
AntiCoilHead = 0

# Setting type: Int32
# Default value: 0
NutSlayer = 0

# Setting type: Int32
# Default value: 10
WalkerType = 10

[_Outside Enemies]

# Setting type: Int32
# Default value: 0
Knight = 0

# Setting type: Int32
# Default value: 0
SpringMan = 0

# Setting type: Int32
# Default value: 57
SandWorm = 57

# Setting type: Int32
# Default value: 0
SandSpider = 0

# Setting type: Int32
# Default value: 0
Puffer = 0

# Setting type: Int32
# Default value: 0
Nutcracker = 0

# Setting type: Int32
# Default value: 79
MouthDog = 79

# Setting type: Int32
# Default value: 0
MaskedPlayerEnemy = 0

# Setting type: Int32
# Default value: 0
LassoMan = 0

# Setting type: Int32
# Default value: 0
Jester = 0

# Setting type: Int32
# Default value: 0
HoarderBug = 0

# Setting type: Int32
# Default value: 28
ForestGiant = 28

# Setting type: Int32
# Default value: 0
Flowerman = 0

# Setting type: Int32
# Default value: 0
DressGirl = 0

# Setting type: Int32
# Default value: 0
RedLocustBees = 0

# Setting type: Int32
# Default value: 0
Doublewing = 0

# Setting type: Int32
# Default value: 0
DocileLocustBees = 0

# Setting type: Int32
# Default value: 0
Crawler = 0

# Setting type: Int32
# Default value: 0
Centipede = 0

# Setting type: Int32
# Default value: 0
Blob = 0

# Setting type: Int32
# Default value: 0
BaboonHawk = 0

# Setting type: Int32
# Default value: 0
PeeperType = 0

# Setting type: Int32
# Default value: 0
ShrimpEnemy = 0

# Setting type: Int32
# Default value: 0
RollingGiant_EnemyType_Outside_Daytime = 0

# Setting type: Int32
# Default value: 0
RollingGiant_EnemyType = 0

# Setting type: Int32
# Default value: 0
RollingGiant_EnemyType_Outside = 0

# Setting type: Int32
# Default value: 0
Herobrine = 0

# Setting type: Int32
# Default value: 0
ImmortalSnail.EnemyType = 0

# Setting type: Int32
# Default value: 0
AntiCoilHead = 0

# Setting type: Int32
# Default value: 0
NutSlayer = 0

# Setting type: Int32
# Default value: 0
WalkerType = 0

[Daytime Enemies]

# Setting type: Int32
# Default value: 0
Knight = 0

# Setting type: Int32
# Default value: 0
SpringMan = 0

# Setting type: Int32
# Default value: 0
SandWorm = 0

# Setting type: Int32
# Default value: 0
SandSpider = 0

# Setting type: Int32
# Default value: 0
Puffer = 0

# Setting type: Int32
# Default value: 0
Nutcracker = 0

# Setting type: Int32
# Default value: 0
MouthDog = 0

# Setting type: Int32
# Default value: 0
MaskedPlayerEnemy = 0

# Setting type: Int32
# Default value: 0
LassoMan = 0

# Setting type: Int32
# Default value: 0
Jester = 0

# Setting type: Int32
# Default value: 0
HoarderBug = 0

# Setting type: Int32
# Default value: 0
ForestGiant = 0

# Setting type: Int32
# Default value: 0
Flowerman = 0

# Setting type: Int32
# Default value: 0
DressGirl = 0

# Setting type: Int32
# Default value: 0
RedLocustBees = 0

# Setting type: Int32
# Default value: 0
Doublewing = 0

# Setting type: Int32
# Default value: 0
DocileLocustBees = 0

# Setting type: Int32
# Default value: 0
Crawler = 0

# Setting type: Int32
# Default value: 0
Centipede = 0

# Setting type: Int32
# Default value: 0
Blob = 0

# Setting type: Int32
# Default value: 0
BaboonHawk = 0

# Setting type: Int32
# Default value: 0
PeeperType = 0

# Setting type: Int32
# Default value: 0
ShrimpEnemy = 0

# Setting type: Int32
# Default value: 0
RollingGiant_EnemyType_Outside_Daytime = 0

# Setting type: Int32
# Default value: 0
RollingGiant_EnemyType = 0

# Setting type: Int32
# Default value: 0
RollingGiant_EnemyType_Outside = 0

# Setting type: Int32
# Default value: 0
Herobrine = 0

# Setting type: Int32
# Default value: 0
ImmortalSnail.EnemyType = 0

# Setting type: Int32
# Default value: 0
AntiCoilHead = 0

# Setting type: Int32
# Default value: 0
NutSlayer = 0

# Setting type: Int32
# Default value: 0
WalkerType = 0

