[_Inside Enemies]

# Setting type: Int32
# Default value: 0
Knight = 0

# Setting type: Int32
# Default value: 43
SpringMan = 43

# Setting type: Int32
# Default value: 0
SandWorm = 0

# Setting type: Int32
# Default value: 43
SandSpider = 43

# Setting type: Int32
# Default value: 7
Puffer = 7

# Setting type: Int32
# Default value: 100
Nutcracker = 100

# Setting type: Int32
# Default value: 0
MouthDog = 0

# Setting type: Int32
# Default value: 25
MaskedPlayerEnemy = 25

# Setting type: Int32
# Default value: 0
LassoMan = 0

# Setting type: Int32
# Default value: 60
Jester = 60

# Setting type: Int32
# Default value: 0
HoarderBug = 0

# Setting type: Int32
# Default value: 0
ForestGiant = 0

# Setting type: Int32
# Default value: 51
Flowerman = 51

# Setting type: Int32
# Default value: 20
DressGirl = 20

# Setting type: Int32
# Default value: 0
RedLocustBees = 0

# Setting type: Int32
# Default value: 0
Doublewing = 0

# Setting type: Int32
# Default value: 0
DocileLocustBees = 0

# Setting type: Int32
# Default value: 0
Crawler = 0

# Setting type: Int32
# Default value: 31
Centipede = 31

# Setting type: Int32
# Default value: 6
Blob = 6

# Setting type: Int32
# Default value: 0
BaboonHawk = 0

# Setting type: Int32
# Default value: 0
PeeperType = 0

# Setting type: Int32
# Default value: 15
ShrimpEnemy = 5

# Setting type: Int32
# Default value: 0
RollingGiant_EnemyType_Outside_Daytime = 0

# Setting type: Int32
# Default value: 45
RollingGiant_EnemyType = 54

# Setting type: Int32
# Default value: 0
RollingGiant_EnemyType_Outside = 0

# Setting type: Int32
# Default value: 40
Herobrine = 40

# Setting type: Int32
# Default value: 100
ImmortalSnail.EnemyType = 100

# Setting type: Int32
# Default value: 0
AntiCoilHead = 0

# Setting type: Int32
# Default value: 0
NutSlayer = 0

# Setting type: Int32
# Default value: 10
WalkerType = 10

[_Outside Enemies]

# Setting type: Int32
# Default value: 0
Knight = 0

# Setting type: Int32
# Default value: 0
SpringMan = 0

# Setting type: Int32
# Default value: 18
SandWorm = 18

# Setting type: Int32
# Default value: 0
SandSpider = 0

# Setting type: Int32
# Default value: 0
Puffer = 0

# Setting type: Int32
# Default value: 0
Nutcracker = 0

# Setting type: Int32
# Default value: 74
MouthDog = 74

# Setting type: Int32
# Default value: 0
MaskedPlayerEnemy = 0

# Setting type: Int32
# Default value: 0
LassoMan = 0

# Setting type: Int32
# Default value: 0
Jester = 0

# Setting type: Int32
# Default value: 0
HoarderBug = 0

# Setting type: Int32
# Default value: 60
ForestGiant = 60

# Setting type: Int32
# Default value: 0
Flowerman = 0

# Setting type: Int32
# Default value: 0
DressGirl = 0

# Setting type: Int32
# Default value: 0
RedLocustBees = 0

# Setting type: Int32
# Default value: 0
Doublewing = 0

# Setting type: Int32
# Default value: 0
DocileLocustBees = 0

# Setting type: Int32
# Default value: 0
Crawler = 0

# Setting type: Int32
# Default value: 0
Centipede = 0

# Setting type: Int32
# Default value: 0
Blob = 0

# Setting type: Int32
# Default value: 0
BaboonHawk = 0

# Setting type: Int32
# Default value: 0
PeeperType = 0

# Setting type: Int32
# Default value: 0
ShrimpEnemy = 0

# Setting type: Int32
# Default value: 0
RollingGiant_EnemyType_Outside_Daytime = 0

# Setting type: Int32
# Default value: 0
RollingGiant_EnemyType = 0

# Setting type: Int32
# Default value: 0
RollingGiant_EnemyType_Outside = 0

# Setting type: Int32
# Default value: 0
Herobrine = 0

# Setting type: Int32
# Default value: 0
ImmortalSnail.EnemyType = 0

# Setting type: Int32
# Default value: 0
AntiCoilHead = 0

# Setting type: Int32
# Default value: 0
NutSlayer = 0

# Setting type: Int32
# Default value: 0
WalkerType = 0

[Daytime Enemies]

# Setting type: Int32
# Default value: 0
Knight = 0

# Setting type: Int32
# Default value: 0
SpringMan = 0

# Setting type: Int32
# Default value: 0
SandWorm = 0

# Setting type: Int32
# Default value: 0
SandSpider = 0

# Setting type: Int32
# Default value: 0
Puffer = 0

# Setting type: Int32
# Default value: 0
Nutcracker = 0

# Setting type: Int32
# Default value: 0
MouthDog = 0

# Setting type: Int32
# Default value: 0
MaskedPlayerEnemy = 0

# Setting type: Int32
# Default value: 0
LassoMan = 0

# Setting type: Int32
# Default value: 0
Jester = 0

# Setting type: Int32
# Default value: 0
HoarderBug = 0

# Setting type: Int32
# Default value: 0
ForestGiant = 0

# Setting type: Int32
# Default value: 0
Flowerman = 0

# Setting type: Int32
# Default value: 0
DressGirl = 0

# Setting type: Int32
# Default value: 0
RedLocustBees = 0

# Setting type: Int32
# Default value: 0
Doublewing = 0

# Setting type: Int32
# Default value: 0
DocileLocustBees = 0

# Setting type: Int32
# Default value: 0
Crawler = 0

# Setting type: Int32
# Default value: 0
Centipede = 0

# Setting type: Int32
# Default value: 0
Blob = 0

# Setting type: Int32
# Default value: 0
BaboonHawk = 0

# Setting type: Int32
# Default value: 0
PeeperType = 0

# Setting type: Int32
# Default value: 0
ShrimpEnemy = 0

# Setting type: Int32
# Default value: 0
RollingGiant_EnemyType_Outside_Daytime = 0

# Setting type: Int32
# Default value: 0
RollingGiant_EnemyType = 0

# Setting type: Int32
# Default value: 0
RollingGiant_EnemyType_Outside = 0

# Setting type: Int32
# Default value: 0
Herobrine = 0

# Setting type: Int32
# Default value: 0
ImmortalSnail.EnemyType = 0

# Setting type: Int32
# Default value: 0
AntiCoilHead = 0

# Setting type: Int32
# Default value: 0
NutSlayer = 0

# Setting type: Int32
# Default value: 0
WalkerType = 0

